{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 2,
    "eqeqeq": 2,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
